@font-face {font-family: celta; src:url(Tipo/CELTA.TTF);}

body {font-size: 25px; color: white; display: block; font-family: sylfaen; margin: 0; line-height:1.2em;}

/* Color logo: #109FC6 */


h1 {font-size:145%; margin: auto;  font-variant:small-caps;}
h2 {font-size:115%; margin: 3% auto 1% -2%; text-decoration: underline;}
#inicio h1 {margin: 3% 2%; font-family: celta, 'Almendra SC', roboto, monserrat; font-variant: small-caps; font-size:145%;}
a {text-decoration: none;}
figure {margin:0px;}
figcaption {text-align: center;}
article {padding:3%;}
ul {margin:0; padding-left:1em;}
li {list-style-type: none; margin: 1% auto;}
hr {margin: 10% 0px 5%;}


header {}
header img {width:20%; height: auto; min-width: 300px;}

	
nav {
	display: block; 
	overflow: auto; 
	font-size: 30px; 
	margin-bottom: 0.5%; 
	clear: both; 
	background-color: #118DAA; 
	text-align:center; 
	font-family: celta, roboto, monserrat; 
	font-variant: small-caps;
	}
nav UL {
	margin: 0 15px; 
	color:white;
	}
nav LI {
	display: inline-block; 
	padding-left:35px; 
	padding-top: 5px; 
	padding-right:15px; 
	width:10%; 
	height: 43px; 
	min-width: 165px; 
	margin: 0; 
	text-align: justify;
	}
nav a {
	text-decoration: none;
	}
a:visited {
	color: white;
	}
a:link {color: white;}
	nav a:hover li {color: #109FC6; opacity: 0.9; background-image: url(Imaxes/pluma.png); background-repeat: no-repeat;background-color: white;}
	nav li.focus {background-image: url(Imaxes/plumab.png); background-repeat: no-repeat; border-left: 2px solid white; border-right: 2px solid white;}
	
	
#inicio {width:90%; margin: 2% 5%;}
#inicio p {margin:1.5% 1%}
	
#inicio article.principal {clear:both; color: #109FC6; padding: 0;}
#inicio #contido figure {margin: 0%; font-style: italic; font-weight: bold;}
#inicio #contido figure figcaption {float:right; width:40%; padding: 12% 0 0 0;}
#inicio #contido figure img {width: 55%; margin: 0% 5% 2% 0%;}
#inicio .dereita {clear: both; background-color: #109FC6;}
#inicio .dereita p{font-size: 90%;}


#recursos section {float: left; width: 70%; height:auto;}
#recursos section article{background-color: #109FC6;  margin: 0% 4% 3% 12.5%; padding: 4% 2% 2%; overflow: auto;}
#recursos section article div{margin: 2% 5%;}
#recursos aside {background-color: #109FC6; margin: 3% 7.1% 3% 4%; padding: 2%; overflow: auto;}
#recursos aside article{background-color: #109FC6; height:auto; margin: 3% 4%; padding: 2%; overflow: auto;}
#recursos aside article{width:100%; margin:0px;}
#recursos img {width: 90%; height:auto; margin: auto 5%; background-color: white}	
#recursos video, #recursos iframe {width:90%; height: auto; margin: auto 5%;}
#recursos iframe {height: 300px;}
#recursos .link {float: right; padding: 3px 15px 12px 28px; margin: 0 0.5%; text-align: justify; background-image: url(Imaxes/plumab.png); background-repeat: no-repeat; background-color: rgba(255, 255, 255, 0.1);}
#recursos .link:hover {float: right; margin: 0 0.5%; text-align: justify; color: #118DAA; background-image: url(Imaxes/pluma.png); background-repeat: no-repeat; background-color: white;}
#recursos aside h1 {text-align: center; margin-bottom: 3%;}
#recursos aside p {margin: 2% auto;}

#subir {position: absolute; position:fixed; bottom: 2em; right:0%; padding: 3px 15px 12px 25px; margin: 0 0.5%; text-align: justify; color: #118DAA; background-image: url(Imaxes/pluma.png); background-repeat: no-repeat; background-color: rgba(255, 255, 255, 0.5);}

	
footer {background-color: #118DAA; float: left; width: 90%; margin: 2em 0px 0px; padding: 0.2% 5%; display: block; font-size: 70%;}
	footer a:visited {color: white;}
	footer a:link {color: white;}
.fin {float: left; padding: 5px 0px}
.cop {float: right; padding: 5px 0px}

#Carousel {
	height: 90px;
	padding: 2%;
	margin-left: 8%;
	font-style: italic;

}

#Carousel div {
	
	width: 40%;
	margin-left: 5%;
	position: absolute;
	font-size: 1.1em;

	
}


.frase1 {
opacity: 0;
    -webkit-animation-name: delay1; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 60s; /* Chrome, Safari, Opera */
    animation: delay1 60s infinite;
}

@keyframes delay1 {
    0%   {opacity: 0;}
	1% {opacity: 0;}
	2% {opacity:100;}
    18%  {opacity: 100;}
    19%  {opacity: 0;}
    100% {opacity: 0;}
}

.frase2 {
opacity: 0;
    -webkit-animation-name: delay2; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 60s; /* Chrome, Safari, Opera */
    animation: delay2 60s infinite;
}

@keyframes delay2 {
    0%   {opacity: 0;}
	19% {opacity: 0;}
	20% {opacity:100;}
    38%  {opacity: 100;}
    39%  {opacity: 0;}
    100% {opacity: 0;}
}

.frase3 {
opacity: 0;
    -webkit-animation-name: delay3; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 60s; /* Chrome, Safari, Opera */
    animation: delay3 60s infinite;
}

@keyframes delay3 {
    0%   {opacity: 0;}
	39% {opacity: 0;}
	40% {opacity:100;}
    58%  {opacity: 100;}
    59%  {opacity: 0;}
    100% {opacity: 0;}
}
.frase4 {
opacity: 0;
    -webkit-animation-name: delay4; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 60s; /* Chrome, Safari, Opera */
    animation: delay4 60s infinite;
}

@keyframes delay4 {
    0%   {opacity: 0;}
	59% {opacity: 0;}
	60% {opacity:100;}
    78%  {opacity: 100;}
    79%  {opacity: 0;}
    100% {opacity: 0;}
}
.frase5 {
opacity: 0;
    -webkit-animation-name: delay5; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 60s; /* Chrome, Safari, Opera */
    animation: delay5 60s infinite;
}

@keyframes delay5 {
    0%   {opacity: 0;}
	79% {opacity: 0;}
	80% {opacity:100;}
    98%  {opacity: 100;}
    99%  {opacity: 0;}
    100% {opacity: 0;}
}

	
@media all and (max-width: 900px) {
body {font-size:1em;}
	
	
	nav LI {display: block; padding:15px 0 0 35px; width:80%; height: 1.1em; font-size:0.9em;}
	
	#inicio #contido figure img{width:100%;}
	#inicio #contido figure figcaption {display:block; width:100%; padding: 0 0 3% 0; font-size:120%;}
	#inicio .dereita p{font-size: 100%;}


	#recursos aside, #recursos section {clear: both; margin: 5% 10%; width: auto; height: auto; transition:2sg;}
	#recursos section article {margin: 0% 0% 4% 0%}
	#recursos aside article {width: auto}
	#recursos .link {background-image: img(width:30%);}
	#recursos .link {padding: 3px 15px 12px 23px; background-image: url(Imaxes/plumamb.png);}
	#recursos .link:hover {background-image: url(Imaxes/plumam.png);}
	


	#subir { background-image: url(Imaxes/plumam.png); padding-left:20px;}
	
	}
	
@media only screen and (max-width: 650px){
	
	#Carousel {height: 130px;}

}

@media only screen and (max-width: 510px){
	
/**	nav  {font-size: 1.5em;}**/
	#Carousel {height: 180px;}

	
}

@media only screen and (max-width: 320px){
	
	header img {width:100%; height: auto; min-width: 50px;}
	
	#Carousel {height: 350px;}
	
	nav LI { 
	min-width: 50px; 
	}

	
}

